.studentpanel{
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100vh;
    height: 200vh;
    overflow-x: hidden;

}
.studentpanel .header{
    background-color: #053d67;
    margin: 0;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: 2px;
    height: 15vh;
    z-index: 900;
}
.studentpanel .header .headercontents{
    display: flex;
    color: white;
    vertical-align: middle;
}
.studentpanel .header .headercontents .title{
    margin-left: 20px;
}
.studentpanel .header .headercontents .searchform{
    margin-top: 25px;
    margin-left: 80px;
}
.studentpanel .header .headercontents .searchform form .formgroup input{
    width: 300px;
    height: 25px;
}
.userprofile{
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
}
.userprofile div{
    margin-left: 10px;
    
}
.info{
    display: flex;
}
.notification{
    margin-top: 30px;
    font-size: 20px;
}
.info img{
    height: 50px;
    width: 60px;
    margin-top: 15px;
    border-radius: 50%;
}
.content{
    margin-top: 15vh;
    display: flex;
}
.content .menu{
    position: fixed;
    background-color: #075794;
    width: 15vw;
    height: 100vh;
    color: white;
   
}
.content .menu ul{
    padding: 0;
}
.content .menu ul li{
    list-style-type: none;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 2px;
}
.content .menu ul li:first-child{
    background: rgb(191, 188, 188);
    border-left: 3px solid white;  
}
.content .menu ul li:hover{
    background: rgb(191, 188, 188);
    border-left: 3px solid white;
}
.maincontainer{
    margin-left: 15vw;
    position: absolute;
    justify-content: center;
    display: flex;
    width: calc(100vw - 15vw);
}
.maincontainercontent{
    position: relative;
    width: 90%;
    margin-top: 80px;
}
.maincontainercontent .upperdivs{
    display: flex;
}
.maincontainercontent .upperdivs div{
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
    text-transform: capitalize;
}
.maincontainercontent .upperdivs div i{
    color: #075794;
}
.maincontainercontent .upperdivs div:first-child{
    margin-left: 0;
}
.middiv{
    display: flex;
    margin-top: 10px;
}

.userprofileinfo{
    margin-top: 30px;
    width: 40%;
}

.userprofileinfo table{
    border: 1px solid gray;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
   
}
.userprofileinfo table th, .userprofileinfo table td{
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    color: gray;
}
.middiv .results{
    width: 55%;
    margin-left: 5%;
    margin-top: -20px;
}
.middiv .results .card{
    height: auto;
    padding: 10px;
    color: gray;
}
.middiv .results .card h1{
    border-bottom: 1px solid gray;
    margin: 0;
    font-size: 25px;
}
.middiv .results .card .cardbody{
    border-bottom: 1px solid gray;
    padding: 5px;
    padding-bottom: 50px;
    text-align: center;
}
.middiv .results .card .cardbody i{
    color: #075794;
}
.accomationallocation{
    margin-top: 40px;
}
.accomationallocation table{
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
    color: gray;
}
.accomationallocation table th,.accomationallocation table td{
   border: 0;
   border: 1px solid gray;
}
