body{

}
.loginbody{
    background-image: url('../images/campus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.overay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}


.loginform{
    background-color: white;
    width: 20%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 272px;
    padding: 20px;
}
.loginform .topic{
    display: block  ;
}
.loginform .topic div{
    display: flex;
}
.loginform .topic h1{
    color: orange;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
}
.loginform .topic img{
    width: 80px;
    height: 50px;
}
.loginform .topic div{
    text-transform: capitalize;
    text-align: center;
}
.loginform .topic div h3{
    font-size: 18px;
    color: black;
    opacity: 0.7;
    margin-left: 30px;
    margin-top: -2px;
    
}
.loginform .form{
    margin-top: 20px;
}
.loginform .form  .form-input{
    margin-top: 30px;

}
.loginform .form  .form-input p{
    margin-top: -3px;
}
.loginform .form .form-input label{
    position: absolute;
    text-transform: capitalize;
    margin-top: -20px;
    font-family: sans-serif;
    opacity: 0.8;
    font-size: 15px
}
.loginform .form .form-input input{
    width: 100%;
    height: 25px;
    border: none;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
}

.loginform .form .form-input input[type='submit']{
    background-color: gray;
    border-color: gray;
    height: 30px;
    border: 1px;
    color: white;
    opacity: 0.8;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: sans-serif;
}
.loginform .form .form-input.submit{
    margin-top: 18px;
}

@media screen and (max-width:800px) {
    .loginform{
        width: 40%;
    }
    
}
@media screen and (max-width:520px) {
    .loginform{
        width: 50%;
    }
    
}
@media screen and (max-width:450px) {
    .loginform{
        width: 50%;
    }
    .loginform .topic img{
    width: 100px;
    height: 70px;
    }
    .loginform .topic div h1{
        font-size: 13px;
        
    }
    
}
@media screen and (max-width:350px) {
    .loginform .topic div h3{
        font-size: 13px;
        
    }
    .form .form-input label{
        font-size: 13px;
    }
    
}
